{
  "extends": ["next", "@antfu", "plugin:prettier/recommended"],
  "ignorePatterns": ["generated-types.ts"],
  "rules": {
    "import/order": "off",
    "no-console": "off",
    "sort-imports": "off"
  }
}
