name: Build Wheel Go CMS Docker Image

on:
  push:
    branches:
      - main
    paths:
      - 'cms/**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-cms

jobs:
  build-image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3
        with:
          context: ./cms
          file: Dockerfile
          build-args: |
            NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=${{ secrets.NEXT_PUBLIC_GOOGLE_MAPS_API_KEY }}
            NEXT_PUBLIC_WHEELGO_API=${{ secrets.NEXT_PUBLIC_WHEELGO_API }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy-to-portainer:
    name: Deploy to Portainer
    needs: build-image
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Portainer
        env:
          PORTAINER_WEBHOOK_URL: ${{ secrets.PORTAINER_WEBHOOK_URL }}
        if: ${{ env.PORTAINER_WEBHOOK_URL != '' }}
        run: |
          curl -X POST \
            -H 'Content-Type: application/json' \
            -d '{"stackName": "wheelgo", "image": "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"}' \
            ${{ secrets.PORTAINER_WEBHOOK_URL }}
